In [3]:
%matplotlib inline
import pandas as pd

In [5]:
cast = pd.read_csv('D:/Lecture file/17th lec 23 feb/File/cast.csv')
cast.head()

,title,year,name,type,character,n
0,Closet Monster,2015.0,Buffy #1,actor,Buffy 4,NaN
1,Suuri illusioni,1985.0,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017.0,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015.0,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015.0,$hutter,actor,1988 Opera House Patron,NaN

### How many movies are listed in the titles dataframe?

In [39]:
print("There are ",cast['title'].nunique(), "movies in the cast dataframe")

There are  166670 movies in the cast dataframe

2159949

### What are the earliest two films listed in the titles dataframe?

In [53]:
k=cast[['title','year']].sort_values('year').drop_duplicates().head(2)['title'].unique()
print(f"The earliest two films are as - {k[0]} and {k[1]}")

The earliest two films are as - Miss Jerry and Soldiers of the Cross

In [88]:
df=cast.dropna()
df

,title,year,name,type,character,n
1,Suuri illusioni,1985.0,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017.0,$hutter,actor,Bobby Riggs Fan,10.0
8,"Lapis, Ballpen at Diploma, a True to Life Journey",2014.0,Jori ' Danilo' Jurado Jr.,actor,Jaime (young),9.0
10,When the Man Went South,2014.0,Taipaleti 'Atu'ake,actor,Two Palms - Ua'i Paame,8.0
11,Little Angel (Angelita),2015.0,Michael 'babeepower' Viera,actor,Chico,9.0
...,...,...,...,...,...,...
2159943,The Jury of Fate,1917.0,Albert Tavernier,actor,Henri Labordie,4.0
2159944,The Man from Beyond,1922.0,Albert Tavernier,actor,Dr. Crawford Strange,3.0
2159945,The Man Who Made Good (II),1917.0,Albert Tavernier,actor,Pop Clark,5.0
2159946,The Painted Madonna,1917.0,Albert Tavernier,actor,Rev. Charles Lamb,5.0
2159947,The Tiger's Cub,1920.0,Albert Tavernier,actor,Father Jerome,8.0

In [98]:

df.set_index('year').sort_index().head(2)['title'].unique()

array(['The Joe Gans-Battling Nelson Fight',
       'The Story of the Kelly Gang'], dtype=object)

### How many movies have the title "Hamlet"?

In [128]:
j=cast.set_index('title')
print(f"There are - {len(j.loc["Hamlet"])} title as Hamlet")

There are - 218 title as Hamlet

In [100]:
(cast['title']=='Hamlet').sum()

218

### How many movies are titled "North by Northwest"?

In [124]:
j=cast.set_index('title')
print(f"There are - {len(j.loc["North by Northwest"])} movies titles as North by Northwest" )

There are - 81 movies titles as North by Northwest

### When was the first movie titled "Hamlet" made?

In [142]:
print(f"The first movie title as Hamlet made in -{cast[cast['title']=='Hamlet']['year'].min()}")

The first movie title as Hamlet made in -1910.0

### List all of the "Treasure Island" movies from earliest to most recent.

In [144]:
cast[cast['title']=='Treasure Island'].sort_values('year')

,title,year,name,type,character,n
1291387,Treasure Island,1918.0,Elmo Lincoln,actor,Prologue Player,NaN
830114,Treasure Island,1918.0,Charles Gorman,actor,Prologue Player,NaN
840745,Treasure Island,1918.0,Joe Grant,actor,Undetermined child role,NaN
909157,Treasure Island,1918.0,Edwin Harley,actor,Prologue Player,NaN
1946119,Treasure Island,1918.0,Lewis Sargent,actor,Ben Gunn,5.0
...,...,...,...,...,...,...
1959741,Treasure Island,1999.0,Richard Schave,actor,Man,21.0
872384,Treasure Island,1999.0,Paul Gutrecht,actor,Some Guy,20.0
210668,Treasure Island,1999.0,Jonah Blechman,actor,The Body,3.0
1869989,Treasure Island,1999.0,Scot Thomas Robinson,actor,Jimmy,11.0
880460,Treasure Island,1999.0,Rio Hackford,actor,Hans,23.0

### How many movies were made in the year 1950?

In [158]:
c=cast.set_index('year')
c.loc[1950.0].shape[0]

14653

In [164]:
cast[cast['year']==1950]['title'].nunique()

884

### How many movies were made in the year 1960?

In [166]:
cast[cast['year']==1960]['title'].nunique()

1050

### How many movies were made from 1950 through 1959?

In [168]:
cast[(cast['year']==1950)&(cast['year']<=1959)]['title'].nunique()

884

### In what years has a movie titled "Batman" been released?

In [170]:
cast[cast['title']=='Batman']['year'].min()

1943.0

### How many roles were there in the movie "Inception"?

In [32]:
cast[cast['title']=='Inception']['character'].nunique()

42

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [36]:
cast[cast['title']=='Inception']['n'].isnull().sum()

21

### But how many roles in the movie "Inception" did receive an "n" value?

In [38]:
cast[cast['title']=='Inception']['n'].notnull().sum()

31

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [7]:
nw= cast[cast['title']=='North by Northwest'].sort_values('n')
nw[nw['n'].notnull()]

,title,year,name,type,character,n
840374,North by Northwest,1959.0,Cary Grant,actor,Roger O. Thornhill,1.0
1404704,North by Northwest,1959.0,James Mason,actor,Phillip Vandamm,3.0
343701,North by Northwest,1959.0,Leo G. Carroll,actor,The Professor,5.0
1634552,North by Northwest,1959.0,Philip Ober,actor,Lester Townsend,7.0
1229083,North by Northwest,1959.0,Martin Landau,actor,Leonard,8.0
1746383,North by Northwest,1959.0,Edward Platt,actor,Victor Larrabee,10.0
642085,North by Northwest,1959.0,Robert Ellenstein,actor,Licht,11.0
447893,North by Northwest,1959.0,Philip Coolidge,actor,Dr. Cross,13.0
1454363,North by Northwest,1959.0,Patrick McVey,actor,Sergeant Flamm,14.0
198496,North by Northwest,1959.0,Edward Binns,actor,Captain Junket,15.0
1334726,North by Northwest,1959.0,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [19]:
t=cast.set_index(['title','year'])
t.loc['Sleuth'].loc[1972.0].sort_values('n')

                      name   type                   character    n
year
1972.0    Laurence Olivier  actor                 Andrew Wyke  1.0
1972.0       Michael Caine  actor                 Milo Tindle  2.0
1972.0      Alec Cawthorne  actor           Inspector Doppler  3.0
1972.0  John (II) Matthews  actor  Detective Sergeant Tarrant  4.0
1972.0        Teddy Martin  actor      Police Constable Higgs  6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [21]:
t=cast.set_index(['title','year'])
t.loc['Sleuth'].loc[2007.0].sort_values('n')

                       name   type          character    n
year
2007.0        Michael Caine  actor             Andrew  1.0
2007.0             Jude Law  actor               Milo  2.0
2007.0        Harold Pinter  actor        Man on T.V.  3.0
2007.0      Kenneth Branagh  actor  Other Man on T.V.  NaN
2007.0  Alec (II) Cawthorne  actor  Inspector Doppler  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [23]:
cast[(cast['title']=='Hamlet')&(cast['year']==1921)]['character'].unique()

array(['Fortinbras,', 'K?nig Hamlet', 'Laertes', 'Polonius', 'Horatio'],
      dtype=object)

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [30]:
cast[(cast['title']=='Hamlet')&(cast['year']==1996)]['character'].nunique()

35

### How many "Hamlet" roles have been listed in all film credits through history?

In [34]:
cast[cast['title']=='Hamlet'].shape[0]

218

### How many people have played an "Ophelia"?

In [44]:
cast[cast['character']=='Ophelia']['name'].nunique()

7

### How many people have played a role called "The Dude"?

In [46]:
cast[cast['character']=='The Dude']['name'].nunique()

16

### How many people have played a role called "The Stranger"?

In [48]:
cast[cast['character']=='The stranger']['name'].nunique()

9

### How many roles has Sidney Poitier played throughout his career?

In [50]:
cast[cast['name']=='Sidney Poitier']['character'].nunique()

41

### How many roles has Judi Dench played?

In [52]:
cast[cast['name']=='Judi Dench']['character'].nunique()

0

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [64]:
cast[(cast['name']=='Cary Grant')& ((cast['year']//10*10)==1940.0)].sort_values('year')

,title,year,name,type,character,n
840399,The Philadelphia Story,1940.0,Cary Grant,actor,C. K. Dexter Haven,1.0
840397,The Howards of Virginia,1940.0,Cary Grant,actor,Matt Howard,1.0
840353,His Girl Friday,1940.0,Cary Grant,actor,Walter Burns,1.0
840371,My Favorite Wife,1940.0,Cary Grant,actor,Nick,2.0
840386,Suspicion,1941.0,Cary Grant,actor,Johnnie,1.0
840381,Penny Serenade,1941.0,Cary Grant,actor,Roger Adams,2.0
840401,The Talk of the Town,1942.0,Cary Grant,actor,Leopold Dilg,1.0
840377,Once Upon a Honeymoon,1942.0,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
840344,Destination Tokyo,1943.0,Cary Grant,actor,Capt. Cassidy,1.0
840369,Mr. Lucky,1943.0,Cary Grant,actor,Joe Adams,1.0
840370,Mr. Lucky,1943.0,Cary Grant,actor,Joe Bascopolous,1.0
840336,Arsenic and Old Lace,1944.0,Cary Grant,actor,Mortimer Brewster,1.0
840378,Once Upon a Time,1944.0,Cary Grant,actor,Jerry Flynn,1.0
840373,None But the Lonely Heart,1944.0,Cary Grant,actor,Ernie Mott,1.0
840351,George White's Scandals,1945.0,Cary Grant,actor,Cary Grant,NaN
840372,Night and Day,1946.0,Cary Grant,actor,Cole Porter,1.0
840375,Notorious,1946.0,Cary Grant,actor,Devlin,1.0
840415,Without Reservations,1946.0,Cary Grant,actor,Cary Grant,NaN
840393,The Bachelor and the Bobby-Soxer,1947.0,Cary Grant,actor,Dick Nugent,1.0
840394,The Bishop's Wife,1947.0,Cary Grant,actor,Dudley,1.0
840368,Mr. Blandings Builds His Dream House,1948.0,Cary Grant,actor,Jim Blandings,1.0
840348,Every Girl Should Be Married,1948.0,Cary Grant,actor,Dr. Madison Brown,1.0
840357,I Was a Male War Bride,1949.0,Cary Grant,actor,Captain Henri Rochard,1.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [66]:
cast[(cast['name']=='Cary Grant')& ((cast['year']//10*10)==1940.0)].sort_values('year')

,title,year,name,type,character,n
840399,The Philadelphia Story,1940.0,Cary Grant,actor,C. K. Dexter Haven,1.0
840397,The Howards of Virginia,1940.0,Cary Grant,actor,Matt Howard,1.0
840353,His Girl Friday,1940.0,Cary Grant,actor,Walter Burns,1.0
840371,My Favorite Wife,1940.0,Cary Grant,actor,Nick,2.0
840386,Suspicion,1941.0,Cary Grant,actor,Johnnie,1.0
840381,Penny Serenade,1941.0,Cary Grant,actor,Roger Adams,2.0
840401,The Talk of the Town,1942.0,Cary Grant,actor,Leopold Dilg,1.0
840377,Once Upon a Honeymoon,1942.0,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
840344,Destination Tokyo,1943.0,Cary Grant,actor,Capt. Cassidy,1.0
840369,Mr. Lucky,1943.0,Cary Grant,actor,Joe Adams,1.0
840370,Mr. Lucky,1943.0,Cary Grant,actor,Joe Bascopolous,1.0
840336,Arsenic and Old Lace,1944.0,Cary Grant,actor,Mortimer Brewster,1.0
840378,Once Upon a Time,1944.0,Cary Grant,actor,Jerry Flynn,1.0
840373,None But the Lonely Heart,1944.0,Cary Grant,actor,Ernie Mott,1.0
840351,George White's Scandals,1945.0,Cary Grant,actor,Cary Grant,NaN
840372,Night and Day,1946.0,Cary Grant,actor,Cole Porter,1.0
840375,Notorious,1946.0,Cary Grant,actor,Devlin,1.0
840415,Without Reservations,1946.0,Cary Grant,actor,Cary Grant,NaN
840393,The Bachelor and the Bobby-Soxer,1947.0,Cary Grant,actor,Dick Nugent,1.0
840394,The Bishop's Wife,1947.0,Cary Grant,actor,Dudley,1.0
840368,Mr. Blandings Builds His Dream House,1948.0,Cary Grant,actor,Jim Blandings,1.0
840348,Every Girl Should Be Married,1948.0,Cary Grant,actor,Dr. Madison Brown,1.0
840357,I Was a Male War Bride,1949.0,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [76]:
cast[(cast['type']=='actor')&((cast['year']//10*10)==1950)]['character'].nunique()

82039

### How many roles were available for actresses in the 1950s?

In [78]:

cast[(cast['type']=='actresses')&((cast['year']//10*10)==1950)]['character'].nunique()

0

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [84]:
c=cast[(cast['n']==1)&(cast['year']<=1980)]
c

,title,year,name,type,character,n
277,En glad gutt,1932.0,Hauk Aabel,actor,Ola Nordistua,1.0
282,En herre med bart,1942.0,Per Aabel,actor,"Ole Grong, advokat",1.0
1026,Batman Fights Dracula,1967.0,Jing Abalos,actor,Batman,1.0
1027,Batman Fights Dracula,1967.0,Jing Abalos,actor,Bruce Wayne,1.0
1031,Mighty Rock,1969.0,Jing Abalos,actor,Mighty Rock,1.0
...,...,...,...,...,...,...
2159434,Land Without Music,1936.0,Richard Tauber,actor,Mario Carlini,1.0
2159436,Melodie der Liebe,1932.0,Richard Tauber,actor,Kammers?nger R.Hoffmann,1.0
2159437,Pagliacci,1936.0,Richard Tauber,actor,Canio Salvatini,1.0
2159498,The Sentimental Bloke,1919.0,Arthur Tauchert,actor,Bill the Bloke,1.0
2159865,L'uomo dalla croce,1943.0,Alberto Tavazzi,actor,Il cappellano militare,1.0

### How many non-leading roles were available through from the beginning of film history through 1980?

In [92]:
cast[(cast['n']!=1)&(cast['year']<=1980)]['character'].nunique()

364422

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [90]:
cast[(cast['n'].isnull())&(cast['year']<=1980)]['title'].nunique()

35017